<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
    <title>Site Tilte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <!-- Bootstrap -->
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7/css/bootstrap.min.css'/>
  </head>

  <body>

  <div th:replace="fragments/header :: header">
    <h1>
      Header
    </h1>
  </div>

  <div th:replace="${view} :: content" class="container">
    Page Content
  </div>

  <div th:replace="fragments/footer :: footer">
    <h1>
      Footer
    </h1>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>